project:
  type: seedcase-theme

website:
  title: "Check Data Package"
  site-url: "https://check-datapackage.seedcase-project.org"
  repo-url: "https://github.com/seedcase-project/check-datapackage"
  page-navigation: true
  navbar:
    pinned: true
    title: false
    logo: "_extensions/seedcase-project/seedcase-theme/logos/navbar-logo-check-datapackage.svg"
    logo-alt: "check-datapackage: Main page"
    left:
      - text: "Overview"
        href: docs/index.qmd
      - text: "Guide"
        href: docs/guide/index.qmd
      - text: "Design"
        href: docs/design/index.qmd
      - text: "Reference"
        href: docs/reference/index.qmd
    tools:
      - icon: github
        href: "https://github.com/seedcase-project/check-datapackage"
        aria-label: "GitHub icon: Source code"
      - icon: house
        href: "https://seedcase-project.org"
        aria-label: "House icon: Main website for the Seedcase Project"
  sidebar:
    - id: overview
      pinned: true
      style: "floating"
      contents:
        - docs/index.qmd
        - CHANGELOG.md
        - CONTRIBUTING.md
    - id: design
      contents:
        - section: "Design"
          href: docs/design/index.qmd
          contents:
            - docs/design/architecture.qmd
            - docs/design/interface.qmd
    - id: guide
      contents:
        - section: "Guide"
          href: docs/guide/index.qmd
          contents:
           - auto: "docs/guide/*.qmd"

quartodoc:
  title: "API Reference"
  sidebar: "docs/reference/_sidebar.yml"
  style: "pkgdown"
  dir: "docs/reference"
  package: "check_datapackage"
  parser: google
  dynamic: true
  renderer:
    style: _renderer.py
    table_style: description-list
    show_signature_annotations: true
  options: null
  sections:
  - title: Functions
    desc: Core functions used to check Data Packages.
    contents:
    - name: check
    - name: read_json

  - title: Configuration
    desc: Classes to configure behaviour of the checks.
    contents:
    - name: Config
    - name: Extensions
    - name: CustomCheck
    - name: RequiredCheck
    - name: Exclusion

  - title: Output
    desc: Classes that contain details about the output.
    contents:
    - name: Issue
    - name: DataPackageError

  - title: Examples
    desc: Example Data Package properties used for documents and testing.
    contents:
    - name: example_package_properties
    - name: example_resource_properties
    - name: example_field_properties


metadata-files:
  - docs/reference/_sidebar.yml

format:
  seedcase-theme-html:
    theme:
      - brand
    include-before-body:
      - "docs/includes/site-counter.html"

editor:
  markdown:
    wrap: 72
    canonical: true
